$color1: lightblue;
$color2: black;
$color3: white;
$color4: #658DE3;
$color5: #000000c4;


/*------------General---------------*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}
.seccion{
    background-color: $color1;
    height: 50px;
    width: 30%;
    margin: auto;
    text-align: center;
    color: $color3;
    font-size: 30px;
}
.seccion2{
    @extend .seccion;
}

@media only screen and (min-width: 1025px){
    /*Encabezado*/
    header{
        background-color: $color1;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 150px;
        padding: 50px;
    }
    .logo-encabezado{
        width: 10%;
    }
    .logo{
        width: 100%;
        margin-bottom: 20px;
    }

    /*Título*/
    h1{
        font-weight: 600;
        text-align: center;
        a{
            text-decoration: none;
            color: $color3;
        }
        a:hover{
            color: $color2;
        }
    }

    /*Menú*/
    nav ul{
        display: flex;
        gap: 30px;
        margin: 10px;
        li{
            list-style: none;
            font-size: 20px;
            font-weight: 600;
            a{
                text-decoration: none;
                color: $color3;
            }
            a:hover{
                color: $color2;
            }
        }
    }
    .activo{
        color: $color4;
    }

    /*Main*/
    main{
        height: 200vh;
        width: 100%;
    }

    /*Pie de página*/
    footer{
        height: 75px;
        width: 100%;
        padding: 20px;
        background-color: $color1;
        text-align: center;
        letter-spacing: 5px;
        a{
            text-decoration: none;
            color: $color3;
            display: inline-block;
            i{
                font-size: 35px;
                color: $color3;
            }
        }
        a:hover{
            color: $color4;
        }
    }
    .whatsapp{
        height: 44px;
        width: 44px;
        font-size: 27px;
        background-color: $color1;
        color: $color3;
        border: 3px solid $color3;
        bottom: 20px;
        right: 20px;
        position: fixed;
        text-align: center;
        border-radius: 50%;
        box-shadow: 2px 2px 10px grey;
    }

    /*INICIO*/
    .home{
        background-image: url(img/Fondo.jpg);
        background-size: cover;
        background-position: center;
        width: 100%;
    }
    .sec{
        width: 80%;
        margin: auto;
    }
    .carousel-caption h3, .carousel-caption p{
        background: $color5;
        box-shadow: -5px 0 0 0 $color5, 10px 0 0 0 $color5;
    }

    .enlaces{
        height: 200px;
        width: 90%;
        margin-top: 40px;
        margin-left: 70px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat (2, 1fr);
        grid-column-gap: 4%;
        grid-row-gap: 10%;
        justify-content: center;
        align-content: flex-start;
    }
    /*---------------------MAPA INICIO---------------------------------------------*/

    $enlaces: (
        e1: 200px,
        e2: 200px,
        e3: 200px,
        e4: 190px,
        e5: 190px,
        e6: 190px,
    );

    @each $e, $size in $enlaces{
        .enlaces--#{$e} {
            a{
                text-decoration: none;
                color: $color3;
                font-weight: 600;
                text-align: center;
                h3{
                    background: $color5;
                    box-shadow: -10px 0 0 0 $color5, 10px 0 0 0 $color5;
                    font-size: 23px;
                    font-weight: 600;
                }
                img{
                    height: $size;
                    width: 330px;
                }
            }
        }
    }
    /*---------------------MAPA FINAL---------------------------------------------*/
    .enlaces--e1:hover, .enlaces--e2:hover, .enlaces--e3:hover, .enlaces--e4:hover, .enlaces--e5:hover, .enlaces--e6:hover{
        transform: scale(1.2);
    }

    /*NOTICIAS*/
    .noticias{
        background-image: url(img/Court.jpg);
        background-size: cover;
        background-position: center;
        height: 230vh;
    }
    .noticias2{
        text-align: center;
        display: grid;
        margin: auto;
        margin-top: 40px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat (3, 1fr);
        grid-column-gap: 4%;
        grid-row-gap: 8%;
    }
    .noticias a{
        width: 100%;
        height: 300px;
        text-decoration: none;
        color: white;
        margin: auto;
        h3{
            background: $color5;
            box-shadow: -10px 0 0 0 $color5, 10px 0 0 0 $color5;
            display: inline-block;
        }
        img{
            width: 100%;
            height: 200px;
        }
    }
    .n1:hover, .n2:hover, .n3:hover, .n4:hover, .n5:hover, .n6:hover{
        transform: scale(1.05);
    }

    /*TIENDA*/
    .tienda{
        background-image: url(img/Tienda.jpg);
        background-size: cover;
        background-position: center;
        h3{
            font-size: 30px;
            font-weight: 600;
            text-align: center;
            margin-top: 20px;
        }
    }

    .productos{
        height: 100%;
        padding: 5px;
        justify-items: center;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        a{
            text-decoration: none;
            color: white;
            text-align: center;
            img{
                height: 300px;
                width: 400px;
                margin: auto;
            }
            h3{
                background: #000000c4;
                box-shadow: -10px 0 0 0 #000000c4, 10px 0 0 0 #000000c4;
                font-size: 15px;
                font-weight: 500;
            }
        }
    }

    .p1:hover, .p2:hover,.p3:hover,.p4:hover,.p5:hover,.p6:hover,.p7:hover,.p8:hover,.p9:hover{
        transform: scale(1.05);
    }

    /*PODCAST*/
    .podcast{
        background-image: url(img/Podcast-2.jpg);
        background-size: cover;
        background-position: center;
        h3{
            text-align: center;
            font-size: 35px;
            font-weight: 600;
            margin: auto;
            padding-top: 25px;
            a{
                text-decoration: none;
                color: white;
            }
        }
    }
    .description{
        text-align: justify;
        width: 70%;
        margin: 20px auto;
        font-weight: 600;
        font-size: 25px;
    }

    /*CONTACTO*/
    .contacto{
        height: 150vh;
        background-image: url(img/Contacto2.jpg);
        background-size: cover;
        background-position: center;
    }
    .formulario__textarea{
        width: 100%;
        background-color: lightblue;
    }
    .btn-primary{
        background-color: lightblue;
    }
    .btn-primary:hover{
        background-color: blue;
    }
}

/*-------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 320px) and (max-width: 480px){
    /*Encabezado*/
    header{
        background-color: $color1;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 150px;
        padding: 50px;
    }
    .logo-encabezado{
        width: 50%;
    }
    .logo{
        width: 100%;
        margin-bottom: 20px;
    }

    /*Título*/
    h1{
        font-weight: 600;
        font-size: 25px;
        text-align: center;
        a{
            text-decoration: none;
            color: $color3;
        }
        a:hover{
            color: $color2;
        }
    }

    /*Menú*/
    nav{
        height: 120px;
        ul{
        display:inline-block;
        gap: 5px;
        margin: 10px;
        font-size: 15px;
            li{
                list-style: none;
                font-weight: 600;
                a{
                    text-decoration: none;
                    color: $color3;
                    font-size: 20px;
                }
                a:hover{
                    color: $color2;
                    }
                }
            }
        }   
    .activo{
        color: $color4;
    }

    /*Main*/
    main{
        height: 200vh;
        width: 100%;
    }
    /*Pie de página*/
    footer{
        height: 100px;
        width: 100%;
        padding: 0;
        background-color: $color1;
        text-align: center;
        letter-spacing: 5px;
        a{
            text-decoration: none;
            color: $color3;
            display: inline-block;
            i{
                font-size: 20px;
                color: $color3;
            }
        }
        a:hover{
            color: $color4;
        }
    }
    .whatsapp{
        height: 40px;
        width: 40px;
        font-size: 25px;
        background-color: $color1;
        color: $color3;
        border: 3px solid $color3;
        bottom: 30px;
        right: 50px;
        position: fixed;
        text-align: center;
        border-radius: 50%;
        box-shadow: 2px 2px 10px grey;
    }

    /*INICIO*/
    .home{
        background-image: url(img/Fondo.jpg);
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 260vh;
    }
    .sec{
        width: 80%;
        margin: auto;
        height: 400px;
    }
    .carousel-item{
        background-position: center center;
        background-repeat: no-repeat;
    }
    .carousel-caption h3, .carousel-caption p{
        background: $color5;
        box-shadow: -5px 0 0 0 $color5, 10px 0 0 0 $color5;
    }

    .enlaces{
        height: 500px;
        width: 90%;
        margin-top: 50px;
        margin-left: 15px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat (3, 1fr);
        grid-column-gap: 4%;
        grid-row-gap: 10%;
        justify-content: center;
        align-content: flex-start;
        a{
            text-decoration: none;
            color: $color3;
            text-align: center;
            h3{
                background: $color5;
                box-shadow: -3px 0 0 0 $color5, 10px 0 0 0 $color5;
                font-size: 20px;
                font-weight: 600;
            }
            img{
                height: 200px;
                width: 100%;
            }
        }
    }

    .enlaces--e1:hover, .enlaces--e2:hover, .enlaces--e3:hover, .enlaces--e4:hover, .enlaces--e5:hover, .enlaces--e6:hover{
        transform: scale(1.2);
    }

    /*NOTICIAS*/
    .noticias{
        background-image: url(img/Court.jpg);
        background-size: cover;
        background-position: center;
        height: 470vh;
        h2{
            font-size: 20px;
        }
    }
    .noticias2{
        text-align: center;
        display: grid;
        margin: auto;
        margin-top: 40px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat (9, 1fr);
        grid-row-gap: 2%;
    }
    .noticias a{
        width: 80%;
        height: 300px;
        text-decoration: none;
        color: white;
        margin: auto;
        h3{
            background: $color5;
            box-shadow: -10px 0 0 0 $color5, 10px 0 0 0 $color5;
            display: inline-block;
            font-size: 15px;
        }
        img{
            width: 80%;
            height: 165px;
        }
    }
    .n1:hover, .n2:hover, .n3:hover, .n4:hover, .n5:hover, .n6:hover{
        transform: scale(1.05);
    }

    /*TIENDA*/
    .tienda{
        background-image: url(img/Tienda.jpg);
        background-size: cover;
        background-position: center;
        height: 395vh;
        h2{
            font-size: 20px;
            font-weight: 600;
            text-align: center;
        }
    }

    .productos{
        height: 100%;
        padding: 5px;
        margin-top: 20px;
        justify-items: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, 1fr);
        a{
            text-decoration: none;
            color: white;
            text-align: center;
            img{
                height: 200px;
                width: 300px;
                margin: auto;
            }
            h3{
                background: #000000c4;
                box-shadow: -10px 0 0 0 #000000c4, 10px 0 0 0 #000000c4;
                font-size: 15px;
                font-weight: 500;
            }
        }
    }
    .p1:hover, .p2:hover,.p3:hover,.p4:hover,.p5:hover,.p6:hover,.p7:hover,.p8:hover,.p9:hover{
        transform: scale(1.05);
    }

    /*PODCAST*/
    .podcast{
        background-image: url(img/Podcast-2.jpg);
        background-size: cover;
        background-position: center;
        height: 230vh;
        h2{
            text-align: center;
            font-size: 20px;
            font-weight: 600;
            margin: auto;
            padding-top: 25px;
            a{
                text-decoration: none;
                color: white;
            }
        }
    }
    .description{
        text-align: justify;
        width: 70%;
        margin: 20px auto;
        font-weight: 600;
        font-size: 15px;
    }

    .final{
        text-align: center;
    }

    /*CONTACTO*/
    .contacto{
        height: 150vh;
        background-image: url(img/Contacto2.jpg);
        background-size: cover;
        background-position: center;
        h2{
            text-align: center;
            font-size: 20px;
            font-weight: 600;
            margin: auto;
            padding-top: 25px;
        }
    }
    .formulario__textarea{
        width: 90%;
        background-color: lightblue;
    }
    .btn-primary{
        background-color: lightblue;
    }
    .btn-primary:hover{
        background-color: blue;
    }
}


/*-------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 481px) and (max-width: 1024px){
    /*Encabezado*/
    header{
        background-color: $color1;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 150px;
        padding: 50px;
    }
    .logo-encabezado{
        width: 50%;
    }
    .logo{
        width: 100%;
        margin-bottom: 20px;
    }

    /*Título*/
    h1{
        font-weight: 600;
        font-size: 25px;
        text-align: center;
        a{
            text-decoration: none;
            color: $color3;
        }
        a:hover{
            color: $color2;
        }
    }

    /*Menú*/
    nav ul{
        display: flex;
        gap: 30px;
        margin: 10px;
        li{
            list-style: none;
            font-size: 20px;
            font-weight: 600;
            a{
                text-decoration: none;
                color: $color3;
            }
            a:hover{
                color: $color2;
            }
        }
    }
    .activo{
        color: $color4;
    }

    /*Main*/
    main{
        height: 200vh;
        width: 100%;
    }
    /*Pie de página*/
    footer{
        height: 120px;
        width: 100%;
        padding: 20px;
        background-color: $color1;
        text-align: center;
        letter-spacing: 5px;
        a{
            height: 50px;
            text-decoration: none;
            color: $color3;
            display: inline-block;
            i{
                font-size: 35px;
                color: $color3;
            }
        }
        a:hover{
            color: $color4;
        }
    }
    
    .whatsapp{
        height: 45px;
        width: 45px;
        font-size: 25px;
        background-color: $color1;
        color: $color3;
        border: 3px solid $color3;
        bottom: 30px;
        right: 50px;
        position: fixed;
        text-align: center;
        border-radius: 50%;
        box-shadow: 2px 2px 10px grey;
    }

    /*INICIO*/
    .home{
        background-image: url(img/Fondo.jpg);
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 150vh;
    }
    .sec{
        width: 80%;
        margin: auto;
        height: 400px;
    }
    .carousel-item{
        background-position: center center;
        background-repeat: no-repeat;
    }
    .carousel-caption h3, .carousel-caption p{
        background: $color5;
        box-shadow: -5px 0 0 0 $color5, 10px 0 0 0 $color5;
    }

    .enlaces{
        height: 100px;
        width: 90%;
        margin-top: 150px;
        margin-left: 35px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat (3, 1fr);
        grid-column-gap: 4%;
        grid-row-gap: 10%;
        justify-content: center;
        align-content: flex-start;
        a{
            text-decoration: none;
            color: $color3;
            text-align: center;
            h3{
                background: $color5;
                box-shadow: -3px 0 0 0 $color5, 10px 0 0 0 $color5;
                font-size: 20px;
                font-weight: 600;
            }
            img{
                height: 200px;
                width: 100%;
            }
        }
    }

    .enlaces--e1:hover, .enlaces--e2:hover, .enlaces--e3:hover, .enlaces--e4:hover, .enlaces--e5:hover, .enlaces--e6:hover{
        transform: scale(1.2);
    }

    /*NOTICIAS*/
    .noticias{
        background-image: url(img/Court.jpg);
        background-size: cover;
        background-position: center;
        height: 250vh;
        h2{
            font-size: 25px;
            font-weight: 600;
        }
    }
    .noticias2{
        text-align: center;
        display: grid;
        margin: auto;
        margin-top: 40px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }
    .noticias a{
        width: 80%;
        height: 300px;
        text-decoration: none;
        color: white;
        margin: auto;
        h3{
            background: $color5;
            box-shadow: -10px 0 0 0 $color5, 10px 0 0 0 $color5;
            display: inline-block;
            font-size: 15px;
        }
        img{
            width: 80%;
            height: 165px;
        }
    }
    .n1:hover, .n2:hover, .n3:hover, .n4:hover, .n5:hover, .n6:hover{
        transform: scale(1.05);
    }

    /*TIENDA*/
    .tienda{
        background-image: url(img/Tienda.jpg);
        background-size: cover;
        background-position: center;
        height: 385vh;
        h2{
            font-size: 25px;
            font-weight: 600;
            text-align: center;
        }
    }

    .productos{
        height: 100%;
        padding: 5px;
        margin-top: 20px;
        justify-items: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, 1fr);
        a{
            text-decoration: none;
            color: white;
            text-align: center;
            img{
                height: 350px;
                margin: auto;
            }
            h3{
                background: #000000c4;
                box-shadow: -10px 0 0 0 #000000c4, 10px 0 0 0 #000000c4;
                font-size: 15px;
                font-weight: 500;
            }
        }
    }
    .p1:hover, .p2:hover,.p3:hover,.p4:hover,.p5:hover,.p6:hover,.p7:hover,.p8:hover,.p9:hover{
        transform: scale(1.05);
    }

    /*PODCAST*/
    .podcast{
        background-image: url(img/Podcast-2.jpg);
        background-size: cover;
        background-position: center;
        height: 130vh;
        h2{
            text-align: center;
            font-size: 25px;
            font-weight: 600;
            margin: auto;
            padding-top: 25px;
            a{
                text-decoration: none;
                color: white;
            }
        }
    }
    .description{
        text-align: justify;
        width: 70%;
        margin: 20px auto;
        font-weight: 600;
        font-size: 20px;
    }
    .final{
        text-align: center;
    }

    /*CONTACTO*/
    .contacto{
        height: 100vh;
        background-image: url(img/Contacto2.jpg);
        background-size: cover;
        background-position: center;
        h2{
            text-align: center;
            font-size: 25px;
            font-weight: 600;
            margin: auto;
            padding-top: 10px;
        }
    }
    .formulario__textarea{
        width: 90%;
        background-color: lightblue;
    }
    .btn-primary{
        background-color: lightblue;
    }
    .btn-primary:hover{
        background-color: blue;
    }
}