@charset "UTF-8";
/*------------General---------------*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
}

.seccion, .seccion2 {
  background-color: lightblue;
  height: 50px;
  width: 30%;
  margin: auto;
  text-align: center;
  color: white;
  font-size: 30px;
}

@media only screen and (min-width: 1025px) {
  /*Encabezado*/
  header {
    background-color: lightblue;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 150px;
    padding: 50px;
  }
  .logo-encabezado {
    width: 10%;
  }
  .logo {
    width: 100%;
    margin-bottom: 20px;
  }
  /*Título*/
  h1 {
    font-weight: 600;
    text-align: center;
  }
  h1 a {
    text-decoration: none;
    color: white;
  }
  h1 a:hover {
    color: black;
  }
  /*Menú*/
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    margin: 10px;
  }
  nav ul li {
    list-style: none;
    font-size: 20px;
    font-weight: 600;
  }
  nav ul li a {
    text-decoration: none;
    color: white;
  }
  nav ul li a:hover {
    color: black;
  }
  .activo {
    color: #658DE3;
  }
  /*Main*/
  main {
    height: 200vh;
    width: 100%;
  }
  /*Pie de página*/
  footer {
    height: 75px;
    width: 100%;
    padding: 20px;
    background-color: lightblue;
    text-align: center;
    letter-spacing: 5px;
  }
  footer a {
    text-decoration: none;
    color: white;
    display: inline-block;
  }
  footer a i {
    font-size: 35px;
    color: white;
  }
  footer a:hover {
    color: #658DE3;
  }
  .whatsapp {
    height: 44px;
    width: 44px;
    font-size: 27px;
    background-color: lightblue;
    color: white;
    border: 3px solid white;
    bottom: 20px;
    right: 20px;
    position: fixed;
    text-align: center;
    border-radius: 50%;
    -webkit-box-shadow: 2px 2px 10px grey;
            box-shadow: 2px 2px 10px grey;
  }
  /*INICIO*/
  .home {
    background-image: url(img/Fondo.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
  }
  .sec {
    width: 80%;
    margin: auto;
  }
  .carousel-caption h3, .carousel-caption p {
    background: #000000c4;
    -webkit-box-shadow: -5px 0 0 0 #000000c4, 10px 0 0 0 #000000c4;
            box-shadow: -5px 0 0 0 #000000c4, 10px 0 0 0 #000000c4;
  }
  .enlaces {
    height: 200px;
    width: 90%;
    margin-top: 40px;
    margin-left: 70px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: repeat 2, 1fr;
        grid-template-rows: repeat 2, 1fr;
    grid-column-gap: 4%;
    grid-row-gap: 10%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
  /*---------------------MAPA INICIO---------------------------------------------*/
  .enlaces--e1 a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    text-align: center;
  }
  .enlaces--e1 a h3 {
    background: #000000c4;
    -webkit-box-shadow: -10px 0 0 0 #000000c4, 10px 0 0 0 #000000c4;
            box-shadow: -10px 0 0 0 #000000c4, 10px 0 0 0 #000000c4;
    font-size: 23px;
    font-weight: 600;
  }
  .enlaces--e1 a img {
    height: 200px;
    width: 330px;
  }
  .enlaces--e2 a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    text-align: center;
  }
  .enlaces--e2 a h3 {
    background: #000000c4;
    -webkit-box-shadow: -10px 0 0 0 #000000c4, 10px 0 0 0 #000000c4;
            box-shadow: -10px 0 0 0 #000000c4, 10px 0 0 0 #000000c4;
    font-size: 23px;
    font-weight: 600;
  }
  .enlaces--e2 a img {
    height: 200px;
    width: 330px;
  }
  .enlaces--e3 a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    text-align: center;
  }
  .enlaces--e3 a h3 {
    background: #000000c4;
    -webkit-box-shadow: -10px 0 0 0 #000000c4, 10px 0 0 0 #000000c4;
            box-shadow: -10px 0 0 0 #000000c4, 10px 0 0 0 #000000c4;
    font-size: 23px;
    font-weight: 600;
  }
  .enlaces--e3 a img {
    height: 200px;
    width: 330px;
  }
  .enlaces--e4 a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    text-align: center;
  }
  .enlaces--e4 a h3 {
    background: #000000c4;
    -webkit-box-shadow: -10px 0 0 0 #000000c4, 10px 0 0 0 #000000c4;
            box-shadow: -10px 0 0 0 #000000c4, 10px 0 0 0 #000000c4;
    font-size: 23px;
    font-weight: 600;
  }
  .enlaces--e4 a img {
    height: 190px;
    width: 330px;
  }
  .enlaces--e5 a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    text-align: center;
  }
  .enlaces--e5 a h3 {
    background: #000000c4;
    -webkit-box-shadow: -10px 0 0 0 #000000c4, 10px 0 0 0 #000000c4;
            box-shadow: -10px 0 0 0 #000000c4, 10px 0 0 0 #000000c4;
    font-size: 23px;
    font-weight: 600;
  }
  .enlaces--e5 a img {
    height: 190px;
    width: 330px;
  }
  .enlaces--e6 a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    text-align: center;
  }
  .enlaces--e6 a h3 {
    background: #000000c4;
    -webkit-box-shadow: -10px 0 0 0 #000000c4, 10px 0 0 0 #000000c4;
            box-shadow: -10px 0 0 0 #000000c4, 10px 0 0 0 #000000c4;
    font-size: 23px;
    font-weight: 600;
  }
  .enlaces--e6 a img {
    height: 190px;
    width: 330px;
  }
  /*---------------------MAPA FINAL---------------------------------------------*/
  .enlaces--e1:hover, .enlaces--e2:hover, .enlaces--e3:hover, .enlaces--e4:hover, .enlaces--e5:hover, .enlaces--e6:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  /*NOTICIAS*/
  .noticias {
    background-image: url(img/Court.jpg);
    background-size: cover;
    background-position: center;
    height: 230vh;
  }
  .noticias2 {
    text-align: center;
    display: -ms-grid;
    display: grid;
    margin: auto;
    margin-top: 40px;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: repeat 3, 1fr;
        grid-template-rows: repeat 3, 1fr;
    grid-column-gap: 4%;
    grid-row-gap: 8%;
  }
  .noticias a {
    width: 100%;
    height: 300px;
    text-decoration: none;
    color: white;
    margin: auto;
  }
  .noticias a h3 {
    background: #000000c4;
    -webkit-box-shadow: -10px 0 0 0 #000000c4, 10px 0 0 0 #000000c4;
            box-shadow: -10px 0 0 0 #000000c4, 10px 0 0 0 #000000c4;
    display: inline-block;
  }
  .noticias a img {
    width: 100%;
    height: 200px;
  }
  .n1:hover, .n2:hover, .n3:hover, .n4:hover, .n5:hover, .n6:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  /*TIENDA*/
  .tienda {
    background-image: url(img/Tienda.jpg);
    background-size: cover;
    background-position: center;
  }
  .tienda h3 {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
  }
  .productos {
    height: 100%;
    padding: 5px;
    justify-items: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
  }
  .productos a {
    text-decoration: none;
    color: white;
    text-align: center;
  }
  .productos a img {
    height: 300px;
    width: 400px;
    margin: auto;
  }
  .productos a h3 {
    background: #000000c4;
    -webkit-box-shadow: -10px 0 0 0 #000000c4, 10px 0 0 0 #000000c4;
            box-shadow: -10px 0 0 0 #000000c4, 10px 0 0 0 #000000c4;
    font-size: 15px;
    font-weight: 500;
  }
  .p1:hover, .p2:hover, .p3:hover, .p4:hover, .p5:hover, .p6:hover, .p7:hover, .p8:hover, .p9:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  /*PODCAST*/
  .podcast {
    background-image: url(img/Podcast-2.jpg);
    background-size: cover;
    background-position: center;
  }
  .podcast h3 {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    margin: auto;
    padding-top: 25px;
  }
  .podcast h3 a {
    text-decoration: none;
    color: white;
  }
  .description {
    text-align: justify;
    width: 70%;
    margin: 20px auto;
    font-weight: 600;
    font-size: 25px;
  }
  /*CONTACTO*/
  .contacto {
    height: 150vh;
    background-image: url(img/Contacto2.jpg);
    background-size: cover;
    background-position: center;
  }
  .formulario__textarea {
    width: 100%;
    background-color: lightblue;
  }
  .btn-primary {
    background-color: lightblue;
  }
  .btn-primary:hover {
    background-color: blue;
  }
}

/*-------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
  /*Encabezado*/
  header {
    background-color: lightblue;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 150px;
    padding: 50px;
  }
  .logo-encabezado {
    width: 50%;
  }
  .logo {
    width: 100%;
    margin-bottom: 20px;
  }
  /*Título*/
  h1 {
    font-weight: 600;
    font-size: 25px;
    text-align: center;
  }
  h1 a {
    text-decoration: none;
    color: white;
  }
  h1 a:hover {
    color: black;
  }
  /*Menú*/
  nav {
    height: 120px;
  }
  nav ul {
    display: inline-block;
    gap: 5px;
    margin: 10px;
    font-size: 15px;
  }
  nav ul li {
    list-style: none;
    font-weight: 600;
  }
  nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
  }
  nav ul li a:hover {
    color: black;
  }
  .activo {
    color: #658DE3;
  }
  /*Main*/
  main {
    height: 200vh;
    width: 100%;
  }
  /*Pie de página*/
  footer {
    height: 100px;
    width: 100%;
    padding: 0;
    background-color: lightblue;
    text-align: center;
    letter-spacing: 5px;
  }
  footer a {
    text-decoration: none;
    color: white;
    display: inline-block;
  }
  footer a i {
    font-size: 20px;
    color: white;
  }
  footer a:hover {
    color: #658DE3;
  }
  .whatsapp {
    height: 40px;
    width: 40px;
    font-size: 25px;
    background-color: lightblue;
    color: white;
    border: 3px solid white;
    bottom: 30px;
    right: 50px;
    position: fixed;
    text-align: center;
    border-radius: 50%;
    -webkit-box-shadow: 2px 2px 10px grey;
            box-shadow: 2px 2px 10px grey;
  }
  /*INICIO*/
  .home {
    background-image: url(img/Fondo.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 260vh;
  }
  .sec {
    width: 80%;
    margin: auto;
    height: 400px;
  }
  .carousel-item {
    background-position: center center;
    background-repeat: no-repeat;
  }
  .carousel-caption h3, .carousel-caption p {
    background: #000000c4;
    -webkit-box-shadow: -5px 0 0 0 #000000c4, 10px 0 0 0 #000000c4;
            box-shadow: -5px 0 0 0 #000000c4, 10px 0 0 0 #000000c4;
  }
  .enlaces {
    height: 500px;
    width: 90%;
    margin-top: 50px;
    margin-left: 15px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: repeat 3, 1fr;
        grid-template-rows: repeat 3, 1fr;
    grid-column-gap: 4%;
    grid-row-gap: 10%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
  .enlaces a {
    text-decoration: none;
    color: white;
    text-align: center;
  }
  .enlaces a h3 {
    background: #000000c4;
    -webkit-box-shadow: -3px 0 0 0 #000000c4, 10px 0 0 0 #000000c4;
            box-shadow: -3px 0 0 0 #000000c4, 10px 0 0 0 #000000c4;
    font-size: 20px;
    font-weight: 600;
  }
  .enlaces a img {
    height: 200px;
    width: 100%;
  }
  .enlaces--e1:hover, .enlaces--e2:hover, .enlaces--e3:hover, .enlaces--e4:hover, .enlaces--e5:hover, .enlaces--e6:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  /*NOTICIAS*/
  .noticias {
    background-image: url(img/Court.jpg);
    background-size: cover;
    background-position: center;
    height: 470vh;
  }
  .noticias h2 {
    font-size: 20px;
  }
  .noticias2 {
    text-align: center;
    display: -ms-grid;
    display: grid;
    margin: auto;
    margin-top: 40px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: repeat 9, 1fr;
        grid-template-rows: repeat 9, 1fr;
    grid-row-gap: 2%;
  }
  .noticias a {
    width: 80%;
    height: 300px;
    text-decoration: none;
    color: white;
    margin: auto;
  }
  .noticias a h3 {
    background: #000000c4;
    -webkit-box-shadow: -10px 0 0 0 #000000c4, 10px 0 0 0 #000000c4;
            box-shadow: -10px 0 0 0 #000000c4, 10px 0 0 0 #000000c4;
    display: inline-block;
    font-size: 15px;
  }
  .noticias a img {
    width: 80%;
    height: 165px;
  }
  .n1:hover, .n2:hover, .n3:hover, .n4:hover, .n5:hover, .n6:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  /*TIENDA*/
  .tienda {
    background-image: url(img/Tienda.jpg);
    background-size: cover;
    background-position: center;
    height: 395vh;
  }
  .tienda h2 {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
  }
  .productos {
    height: 100%;
    padding: 5px;
    margin-top: 20px;
    justify-items: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[9];
        grid-template-rows: repeat(9, 1fr);
  }
  .productos a {
    text-decoration: none;
    color: white;
    text-align: center;
  }
  .productos a img {
    height: 200px;
    width: 300px;
    margin: auto;
  }
  .productos a h3 {
    background: #000000c4;
    -webkit-box-shadow: -10px 0 0 0 #000000c4, 10px 0 0 0 #000000c4;
            box-shadow: -10px 0 0 0 #000000c4, 10px 0 0 0 #000000c4;
    font-size: 15px;
    font-weight: 500;
  }
  .p1:hover, .p2:hover, .p3:hover, .p4:hover, .p5:hover, .p6:hover, .p7:hover, .p8:hover, .p9:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  /*PODCAST*/
  .podcast {
    background-image: url(img/Podcast-2.jpg);
    background-size: cover;
    background-position: center;
    height: 230vh;
  }
  .podcast h2 {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin: auto;
    padding-top: 25px;
  }
  .podcast h2 a {
    text-decoration: none;
    color: white;
  }
  .description {
    text-align: justify;
    width: 70%;
    margin: 20px auto;
    font-weight: 600;
    font-size: 15px;
  }
  .final {
    text-align: center;
  }
  /*CONTACTO*/
  .contacto {
    height: 150vh;
    background-image: url(img/Contacto2.jpg);
    background-size: cover;
    background-position: center;
  }
  .contacto h2 {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin: auto;
    padding-top: 25px;
  }
  .formulario__textarea {
    width: 90%;
    background-color: lightblue;
  }
  .btn-primary {
    background-color: lightblue;
  }
  .btn-primary:hover {
    background-color: blue;
  }
}

/*-------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 481px) and (max-width: 1024px) {
  /*Encabezado*/
  header {
    background-color: lightblue;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 150px;
    padding: 50px;
  }
  .logo-encabezado {
    width: 50%;
  }
  .logo {
    width: 100%;
    margin-bottom: 20px;
  }
  /*Título*/
  h1 {
    font-weight: 600;
    font-size: 25px;
    text-align: center;
  }
  h1 a {
    text-decoration: none;
    color: white;
  }
  h1 a:hover {
    color: black;
  }
  /*Menú*/
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    margin: 10px;
  }
  nav ul li {
    list-style: none;
    font-size: 20px;
    font-weight: 600;
  }
  nav ul li a {
    text-decoration: none;
    color: white;
  }
  nav ul li a:hover {
    color: black;
  }
  .activo {
    color: #658DE3;
  }
  /*Main*/
  main {
    height: 200vh;
    width: 100%;
  }
  /*Pie de página*/
  footer {
    height: 120px;
    width: 100%;
    padding: 20px;
    background-color: lightblue;
    text-align: center;
    letter-spacing: 5px;
  }
  footer a {
    height: 50px;
    text-decoration: none;
    color: white;
    display: inline-block;
  }
  footer a i {
    font-size: 35px;
    color: white;
  }
  footer a:hover {
    color: #658DE3;
  }
  .whatsapp {
    height: 45px;
    width: 45px;
    font-size: 25px;
    background-color: lightblue;
    color: white;
    border: 3px solid white;
    bottom: 30px;
    right: 50px;
    position: fixed;
    text-align: center;
    border-radius: 50%;
    -webkit-box-shadow: 2px 2px 10px grey;
            box-shadow: 2px 2px 10px grey;
  }
  /*INICIO*/
  .home {
    background-image: url(img/Fondo.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 150vh;
  }
  .sec {
    width: 80%;
    margin: auto;
    height: 400px;
  }
  .carousel-item {
    background-position: center center;
    background-repeat: no-repeat;
  }
  .carousel-caption h3, .carousel-caption p {
    background: #000000c4;
    -webkit-box-shadow: -5px 0 0 0 #000000c4, 10px 0 0 0 #000000c4;
            box-shadow: -5px 0 0 0 #000000c4, 10px 0 0 0 #000000c4;
  }
  .enlaces {
    height: 100px;
    width: 90%;
    margin-top: 150px;
    margin-left: 35px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: repeat 3, 1fr;
        grid-template-rows: repeat 3, 1fr;
    grid-column-gap: 4%;
    grid-row-gap: 10%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
  .enlaces a {
    text-decoration: none;
    color: white;
    text-align: center;
  }
  .enlaces a h3 {
    background: #000000c4;
    -webkit-box-shadow: -3px 0 0 0 #000000c4, 10px 0 0 0 #000000c4;
            box-shadow: -3px 0 0 0 #000000c4, 10px 0 0 0 #000000c4;
    font-size: 20px;
    font-weight: 600;
  }
  .enlaces a img {
    height: 200px;
    width: 100%;
  }
  .enlaces--e1:hover, .enlaces--e2:hover, .enlaces--e3:hover, .enlaces--e4:hover, .enlaces--e5:hover, .enlaces--e6:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  /*NOTICIAS*/
  .noticias {
    background-image: url(img/Court.jpg);
    background-size: cover;
    background-position: center;
    height: 250vh;
  }
  .noticias h2 {
    font-size: 25px;
    font-weight: 600;
  }
  .noticias2 {
    text-align: center;
    display: -ms-grid;
    display: grid;
    margin: auto;
    margin-top: 40px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[5];
        grid-template-rows: repeat(5, 1fr);
  }
  .noticias a {
    width: 80%;
    height: 300px;
    text-decoration: none;
    color: white;
    margin: auto;
  }
  .noticias a h3 {
    background: #000000c4;
    -webkit-box-shadow: -10px 0 0 0 #000000c4, 10px 0 0 0 #000000c4;
            box-shadow: -10px 0 0 0 #000000c4, 10px 0 0 0 #000000c4;
    display: inline-block;
    font-size: 15px;
  }
  .noticias a img {
    width: 80%;
    height: 165px;
  }
  .n1:hover, .n2:hover, .n3:hover, .n4:hover, .n5:hover, .n6:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  /*TIENDA*/
  .tienda {
    background-image: url(img/Tienda.jpg);
    background-size: cover;
    background-position: center;
    height: 385vh;
  }
  .tienda h2 {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
  }
  .productos {
    height: 100%;
    padding: 5px;
    margin-top: 20px;
    justify-items: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[9];
        grid-template-rows: repeat(9, 1fr);
  }
  .productos a {
    text-decoration: none;
    color: white;
    text-align: center;
  }
  .productos a img {
    height: 350px;
    margin: auto;
  }
  .productos a h3 {
    background: #000000c4;
    -webkit-box-shadow: -10px 0 0 0 #000000c4, 10px 0 0 0 #000000c4;
            box-shadow: -10px 0 0 0 #000000c4, 10px 0 0 0 #000000c4;
    font-size: 15px;
    font-weight: 500;
  }
  .p1:hover, .p2:hover, .p3:hover, .p4:hover, .p5:hover, .p6:hover, .p7:hover, .p8:hover, .p9:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  /*PODCAST*/
  .podcast {
    background-image: url(img/Podcast-2.jpg);
    background-size: cover;
    background-position: center;
    height: 130vh;
  }
  .podcast h2 {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    margin: auto;
    padding-top: 25px;
  }
  .podcast h2 a {
    text-decoration: none;
    color: white;
  }
  .description {
    text-align: justify;
    width: 70%;
    margin: 20px auto;
    font-weight: 600;
    font-size: 20px;
  }
  .final {
    text-align: center;
  }
  /*CONTACTO*/
  .contacto {
    height: 100vh;
    background-image: url(img/Contacto2.jpg);
    background-size: cover;
    background-position: center;
  }
  .contacto h2 {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    margin: auto;
    padding-top: 10px;
  }
  .formulario__textarea {
    width: 90%;
    background-color: lightblue;
  }
  .btn-primary {
    background-color: lightblue;
  }
  .btn-primary:hover {
    background-color: blue;
  }
}
/*# sourceMappingURL=estilos.css.map */